<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>my.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/extranewgwt/greet</url-pattern>
  </servlet-mapping>
  
  
   <!-- Servlets -->
  <servlet>
    <servlet-name>getForumServiceImpl</servlet-name>
    <servlet-class>my.server.GetForumServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>getForumServiceImpl</servlet-name>
    <url-pattern>/extranewgwt/getForum</url-pattern>
  </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ExtraNewGWT.html</welcome-file>
    <welcome-file>inframe.html</welcome-file>
  </welcome-file-list>

</web-app>
